.border-form {
    height: 60vh;
    padding-left: 40px;
    padding-right: 40px;
    margin: 50px;
    margin-left: 35%;
    margin-right: 35%;
    max-width: 450px;
}

.higher-form {
    margin-top: 10px !important;
}

.border {
    background-color: #F8F9FA;
    border: 2px solid lavender;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 90px;
}

.center {
    margin: auto;
    width: max-content;
    padding: 10px;
}

.navbar-expand-lg {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.fixed-bottom {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.wide-border {
    border-right: 10px solid transperent;
}
