h2,
h1,
a,
em,
h4,
h6,
h5,
span,
th,
td,
.dropdown-item,
.text {
    color: #8945C4 !important;
}

.text-top {
    margin-top: 10px;
}

.text-denger {
    color: #eb497a;
}

h3 {
    color: #2B5035 !important;
}

.nav-item {
    width: 110px !important;
}

.text-white {
    color: white;
}

.nav-sm {
    font-size: 15px !important;
    text-align: center !important;
    width: auto !important;
}

.independent-string {
    padding-left: 20px !important;
}

.category {
    color: #8945C4 !important;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    margin: 0px !important;
    padding: 0px !important;
}

.text-white {
    color: white !important;
}

.text-center-70 {
    margin-left: 80px;
}

h3 {
    color: #2B5035 !important;
}

h3 {
    color: #2B5035 !important;
}

.nav-item {
    width: 110px !important;
}

.text-white {
    color: white;
}

.nav-sm {
    font-size: 15px !important;
    text-align: center !important;
    width: auto !important;
}

.independent-string {
    padding-left: 20px !important;
}
