h2,
h1,
a,
em,
h4,
h6,
h5,
span,
th,
td,
.dropdown-item,
.text {
    color: #8945C4 !important;
}

.text-top {
    margin-top: 10px;
}

.text-denger {
    color: #eb497a;
}

h3 {
    color: #2B5035 !important;
}

.nav-item {
    width: 110px !important;
}

.text-white {
    color: white;
}

.nav-sm {
    font-size: 15px !important;
    text-align: center !important;
    width: auto !important;
}
