<div class="border-form higher-form">
  <div class="border">
    <h1 class="text-center mb-4"><%= t('event.edit') %></h1>
    <%= render partial: 'events/form', locals: { event: @event, button: 'edit'} %>
  </div>
</div>
