<div class="row align-items-center border-form">
  <div class="border">
    <h1><%= t('category.edit_c') %></h1>

    <%= render partial: 'categories/form', locals: { category: @category , button: 'edit'} %>
  </div>
</div>
